.cart-dropdown-container {
  position: fixed;
  width: 260px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid var(--gold);
  border-radius: 6px;
  background-color: var(--white);
  top: 38px;
  right: 40px;
  z-index: 9;

}
  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-Y: scroll;
  }

 .cart__drop__btn{
    border-color: var(--gold);
    font-weight: bold;
    background: var(--green);
    color: var(--white);
    text-align: center;
 }