    .socials__general{
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 1.5rem;
        color: var(--white);
    }
    .socials__general a{
        color: var(--white);
    }
    .fa-instagram:hover{
        color: red;
    }
    .fa-tiktok:hover{
        color: black;
    }
    .fa-facebook:hover{
        color: rgb(4, 40, 196);
    }
    .fa-whatsapp:hover{
        color: rgb(4, 196, 68);
    }