/* @media(max-width:800px){
     .overlay{
        display: block;
     }
         .nav__btn{
        display: block;
        z-index: 6;
    }
    .sm-hidden{
        display: none;
     
        transition: .5s all ease-in-out ;
    }
    .container{
        padding: .6rem 2rem;
    }

    .list__items{
    height: 100vh;
    position: absolute;
    z-index: 4;
    top: 2.5rem;
    right: 0;
    background: var(--dark-green);
    width: 70%;
       animation: transformAnimation;
        animation-duration: .5s;
        animation-iteration-count: 1;

    }
    .nav__links{
        flex-direction: column;
        gap: 2rem;
        
    }
    .socials{
        display: block;
    }
} */